.navBar {
  text-align: center;
  position: relative;
}
.link {
  text-decoration: none;
  color: #1ad1ff;
}

.username {
  font-size: 30px;
}

.logOutButton {
  color: #ecf0f3;
  background: #1ad1ff;
  margin-right: auto;
  height: 40px;
  width: 100px;
  cursor: pointer;
  font-weight: 400;
  font-style: italic;
  border-radius: 35px;
  transition: 0.5s;
}
