.list {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: rgb(209, 38, 38);
  display: block;
  height: 25px;
  cursor: pointer;
}
